{
	auto_https off
}

localhost:80 {
	route /api/* {
		uri strip_prefix /api
		reverse_proxy api:80
	}
	reverse_proxy /* frontend:80
	handle_errors {
		respond "{http.error.status_code} {http.error.status_text}"
	}
}